@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
 /********** general styling **********/
 :root{
    --primaryColor: #f1f1f1;
    --black1: #222;
    --black2: #555;
    --red:#c02525;
    --grey:#959595;
    --error: #ec0d0d;
    --success: #00ff00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Archivo', sans-serif;
}

ul{
    list-style: none;
}


/********** nav-bar styling **********/
.navigation{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);  
}
#header{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 12;
    position: fixed; 
}
#header .header{
    min-height: 8vh;  
}
#header .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
    padding-left: 400px;
}
.nav-bar{
    background-color: white;
}
#header .nav-list ul{
    list-style: none;
    width: fit-content;
    height: auto;
}
#header .nav-list ul li{
    display: inline-block;
    position: relative;
}
.nav-list ul li a{
    display: block;
    padding: 22px 14px; 
}
.fa-chevron-down{
    font-size: 12px;
    color: var(--red);
}
.nav-list ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px ;
    border-radius: 0 0 4px 4px;
}
.nav-list ul li:hover ul{
    display: block;
}
.nav-list ul li ul li {
    width: 180px ;
}
.nav-list ul li ul li a:hover{
    color: var(--red);
}
#header .nav-list ul a{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .0.5rem;
    text-transform: uppercase;
    padding: 20px; 
    color: var(--black2);
} 
#header .nav-list ul a:hover{
    color: var(--red);
}
#header .nav-list ul li ul li a{
    font-size: 15px;   
}
.cart{
    justify-self: flex-end;
    padding-right: 8px;
}
#cart_btn{
    border:none;
    font-size: 18px;
    background: none;
    color: var(--black2);
    position: relative;
}
#cart_count_info{
    position: absolute;
    top: 6px;
    right: 3px;
    background: var(--red);
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.ul_cart{
    padding-top:20px ;
    padding-right: 10px;
}

/********** home page styling **********/
.home-page {
    position: relative;
    background-image: url('./POZE\ PRODUSE/cover7.jpg');
    background-size: cover;
    background-attachment: fixed;
    max-width: 1500px;
    margin: 0 auto;
    height: 750px;
    margin-top: 105px;
    background-position: bottom center; 
}

.cover h1 {
    color: var(--red);
    padding: 2rem 0 3rem 10rem;
    font-size: 3rem;
    font-weight: bolder;
    width: 700px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 800px;
    padding-top: 200px; 
}
.order-btn{
  border: 1px solid var(--red);
  width: 160px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 67rem;
  height: 35px;
  background-color: var(--primaryColor);
  color: var(--red);
 
}
.order-btn:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.cover small{
    font-size: .9rem; 
    font-weight: bold
}

/********** categories section styling **********/

.tripple-banner{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.tripple-banner .category-box{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    /* display: inline-block; */
}
.tripple-banner .category-box .imgBox{
    position: relative;
    overflow: hidden;
}
.tripple-banner .category-box .imgBox img{
    max-width: 100%;
    transition: transform 1s;
}
.tripple-banner .category-box:hover .imgBox img{
    transform: scale(1.2);
}
.tripple-banner .category-box .details-box{
    position: absolute;
    top:10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .4);
    transform: scaleY(0);
    transition: transform .5s;

}
.tripple-banner .category-box:hover .details-box{
    transform: scaleY(1);
}
.tripple-banner .category-box .details-box .content-box{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    padding:15px;
    color: white;

}
.tripple-banner .category-box .details-box .content-box p{
    margin: 10px 0 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.content-box>button{
    border: 1px solid var(--red);
    width: 160px;
    cursor: pointer;
    height: 30px;
    background-color: var(--primaryColor);
    color: var(--red);
}
.content-box>button:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.category-title{
    display: flex;
    justify-content: center; 
    align-self: center;
}
 .category-title>div{
    padding: 5px 15px;
    background: var(--red);
    color:white;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
    height: fit-content;
    margin-top: .1%;
}
.subtitle{
    opacity: .6;
}
.send_photo{
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    color: var(--red);
    text-shadow: 1px 1px var(--red);
    text-transform: uppercase;
}
/********** glide carussel section styling **********/

.glide__slides{
    text-align: center;
}
.glide__arrow--left{
    margin-left: 10%;
    color:var(--red);
}
.glide__arrow--right{
    margin-right: 10%;
    color:var(--red);
}

.glide{
    padding: 0 20px;
    margin-top: -150px;
}
.glide__slides{
    overflow: visible;
}
/********** services section styling **********/
.row_services{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 200px 30px 200px;
}
.service_container{
    display: flex;
    align-items: center;
}
.service_logo{
    padding-right: 20px;
    font-size: 30px;
    color: var(--red);
}
.service_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_text_container:hover{
    border-bottom: 3px solid var(--red);
    transition: .2s ;
}
.service_text_big{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--black2);
}
.service_text_small{
    letter-spacing: 0.5px;

}
.fa-sync-alt{
    animation: fa-spin 2s infinite linear;
}





/********** contact section styling **********/
.contact {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}
  
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.contact-form h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--black1);
}
  
.contact-form form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form1 .form2 .form3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 70px;
}
.form2 h3{
    padding-bottom: 10px;
    font-weight: bold;
    font-size:  16px;
    color: var(--black1);
}
.form2 h4{
    padding-left: 10px;
    font-weight: 70;
    font-size:  14px;
}
.form1>.form_message>input{
    width: 300px;
    height: 70px;
    font-size: 1rem;
    font-family: inherit;
}
.contact-adress,.contact-phone,.contact-email,.contact-map{
   margin-bottom: 20px;
}
.contact_info{
    display: flex;
    flex-direction: row;
    color: var(--black2);
}
  
.form1 input{
    width: 300px;
    height: 30px;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.form1 input:hover{
    box-shadow: 0 2px 4px 0 var(--red);
}
  
#submit {
    border: 1px solid var(--red);
    width: 160px;
    cursor: pointer;
    height: 35px;
    background-color: var(--primaryColor);
    color: var(--red); 
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit:hover{
    color: var(--primaryColor);
    background-color: var(--red);
}

/********** for submit contact styling **********/
.form1 .error input{
    border-color: var(--error);
    border-radius: 4px;
}
  
.form1 .success input{
    border-color: var(--success);
    border-radius: 4px;
}
  
.form1 small{
    visibility: hidden;
}
  
.form1 .error small{
    visibility: visible;
    color: var(--error);
}
  
p.success {
    background-color: var(--success);
    width: 100%;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

/********** footer section styling **********/

#footer .footer{
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer .social-icon{
    display: flex;
}
#footer .social-item{
    height: 40px;
    width: 30px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
    width: 30px;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: var(--red);
}

/********** Products page styling **********/
.row_services-products-pg{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/********** card product banner **********/
.product-items{
    margin: 100px 100px;
    
}
.ski-products-container{
    width: 88vw;
    margin: 0, auto;
}

.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
    letter-spacing: 1px;
    margin-left: 150px;
    color: var(--black2);
}
.text-light{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0.5;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 150px;
}
/********** products section **********/
.product-single-item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.product-content{
    width: fit-content;
}
.product-img img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
}
.product-single-item:hover .product-img img{
    transform: scale(1.1);
}
.product-btn{
    text-align: center;  
}
.btn-cart{
    border: 1px solid var(--red);
    width: 140px;
    cursor: pointer;
    height: 30px;
    background-color: var(--primaryColor);
    color: var(--red);
    text-transform: uppercase;
    margin-top: 10px;
}
.btn-cart:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.btn-cart span{
    margin-left: 10px;
}
.details-cart{
    border: 1px solid var(--primaryColor);
    width: 140px;
    cursor: pointer;
    height: 30px;
    background-color: var(--red);
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-top: 10px; 
}

.product-info{
    width: fit-content;
    line-height: 30px;
}
.product-info-title{
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: var(--black2);
}
.product-info-stock{
    text-align: end;
    color: green;
    letter-spacing: .5px;
    font-size: 14px;
}
.product-info-price{
   text-align: center;
   font-size: 19px;
   font-weight: 500;
   color: var(--red);
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
   
}
/********** details page style  **********/
.details-card-wrapper{
   max-width: fit-content;
   margin: auto;
   margin-top: 100px;
   /* margin-left: 200px;  */
   display: flex;
   align-items: center;
   /* border: 1px solid #ccc; */
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
.details-right-section{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    /* margin-top: 100px; */
}
.image-showcase{
    padding-left: 50px;
}
.image-showcase>img{
    /* border: 1px solid #ccc; */
    box-shadow: 0 .5rem 1.5rem rgba(145, 59, 59, 0.1);
}

.image-showcase>img:hover{
    /* transform: scale(1.1);
    transition: all 0.5s ease; */
}
.product-title{
    padding-top: 10px;
    color: var(--red);
    padding-bottom: 10px;
}
.fa-star,.fa-star-half-alt{
    color: #ffc107;
    padding-bottom: 10px;
}
.product-price{
    font-size: 37px;
    font-weight: bold;
    color: var(--black2);
    padding-bottom: 50px;
    
}
.product-details{
    width: 500px;
    padding-bottom: 20px;
    padding-right: 30px;
}
.product-details>h2{
    padding-bottom: 10px;
    color: grey;
    font-weight: 300;
    font-size: 22px;
}
.product-details>p{
    line-height: 1.4;
    color: var(--grey);
}
.product-details>small{
    font-size: 16px;
    line-height: 1.4;
    color: var(--grey);
}
.product-details>small>span{
    font-weight: bold;
}

.purchase-info>input{
    height: 30px;
    border: solid 1px #ccc;
    
}
.purchase-info>input::placeholder{
    color: var(--red);
    text-align: center;
}
.details-btn-cart{
    border: 1px solid var(--red);
    width: 345px;
    cursor: pointer;
    height: 30px;
    background-color: var(--red);
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.details-btn-cart span{
    margin-left: 10px;
}
.product-stock{
    color: green;
    margin-bottom: 50px;
}
.purchase-info>select{
    width: 170px;
    height: 30px;
    border: 1px solid #ccc;
    color: var(--red);
}
.purchase-info>p{
    padding-left: 175px;
    color: var(--black2);
}

/********** admin page style  **********/
.admin-page{
    margin-top: 200px;
}
.admin-page>h1{
    text-align: center;
    color: var(--red);
    letter-spacing: 1px;
    font-weight: 550;
}
.product-manag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 600px;
}
.product-manag>h2{
    color: var(--black2);
    letter-spacing: 1px;
}
.product-manag>button{
    outline: none;
}
.all-products table {
    width: auto;
    font-size: 20px;
}
.all-products table,
.all-products table td {
    border: .5px solid var(--grey);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .1);
}
.all-products table img {
    width: 150px;
    height: 120px;
}
thead{
    line-height: 30px;
    color: white;
    background-color: var(--grey);
}
.th-name {
    width: 500px;
}
.th-price,
.th-stock {
    width: 100px;
}
.th-delete {
    width: 110px;
    color: var(--red);
}
table{
    margin: auto;
    border-collapse: collapse;
}

/* styling pentru elementele create dinamic in tebelul de ADMIN */

.p-name, .p-price, .p-stock, .p-remove{
    text-align: center;
    font-size: 19px;
    font-weight: 500;  
}
.p-name>a{
    color: var(--black1);
}
.p-remove>button{
    background-color: var(--red);
    color: white;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* ADD&EDIT NEW PRODUCT */

.add-np{
    display: none;
    background-color: #f9f3f3;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    
}
.np-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}
.np-header>h2{
    margin-top: 10px;
    color: var(--black1);
    padding: 0 20px;
    font-weight: 550;
    letter-spacing: 1px ;
}
.np-header>button{
    margin: 10px 20px;
}
.np-header>button:focus{
    outline: none;
}
.add-nps-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.add-nps-inputs div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.add-nps-inputs div label{
    margin-right: 20px;
    color: var(--black2);
    letter-spacing: .5px;
    font-weight: 400;
}
.add-nps-inputs div input,
.add-nps-inputs div textarea{
    width: 500px;
    line-height: 20px;
}
.add-nps-inputs input:focus,
.add-nps-inputs textarea:focus{
    outline: none;
}

.add-nps-inputs textarea{
    height: 70px;
}






/* show or hide elements */
.show-div-adminPage {
    display: block;
}
  
.hide-div-adminPage {
    display: none;
}
  
.show-div-adminPageFlex {
    display: flex;
}
/* item added message */
.item-added {
    background-color: var(--success);
    text-align: center;
    font-weight: bold;
}
.error-message{
    color: red;
}

/* media querries */
/* @media screen and  (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and  (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and  (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
} */

