@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
 /********** general styling **********/
 :root{
    --primaryColor: #f1f1f1;
    --black1: #222;
    --black2: #555;
    --red:#c02525;
    --grey:#959595;
    --error: #ec0d0d;
    --success: #59e683;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Archivo', sans-serif;
}

ul{
    list-style: none;
}


/********** nav-bar styling **********/
.navigation{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);  
}
#header{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 12;
    position: fixed; 
}
#header .header{
    min-height: 8vh;  
}
#header .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
    padding-left: 300px;
}
.nav-bar{
    background-color: white;
    position: sticky;
}

#header .nav-list ul{
    list-style: none;
    width: fit-content;
    height: auto;
}
#header .nav-list ul li{
    display: inline-block;
    position: relative;
}
.nav-list ul li a{
    display: block;
    padding: 22px 14px; 
}
.fa-chevron-down{
    font-size: 12px;
    color: var(--red);
}
.nav-list ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px ;
    border-radius: 0 0 4px 4px;
}
.nav-list ul li:hover ul{
    display: block;
}
.nav-list ul li ul li {
    width: 180px ;
}
.nav-list ul li ul li a:hover{
    color: var(--red);
}
#header .nav-list ul a{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .0.5rem;
    text-transform: uppercase;
    padding: 20px; 
    color: var(--black2);
} 
#header .nav-list ul a:hover{
    color: var(--red);
}
#header .nav-list ul li ul li a{
    font-size: 15px;   
}
.nav-list img{
   height: 100px;
   width: 130px;
}


/********** home page styling **********/
.home-page {
    position: relative;
    background-image: url('./POZE\ PRODUSE/cover7.jpg');
    background-size: cover;
    background-attachment: fixed;
    max-width: 1500px;
    margin: 0 auto;
    height: 750px;
    margin-top: 105px;
    background-position: bottom center; 
}

.cover h1 {
    color: var(--red);
    padding: 2rem 0 3rem 10rem;
    font-size: 3rem;
    font-weight: bold;
    width: 700px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 800px;
    padding-top: 200px; 
    letter-spacing: 1px;
}

.order-btn{
  border: 1px solid var(--red);
  width: 160px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 67rem;
  height: 35px;
  background-color: var(--primaryColor);
  color: var(--red);
  outline: none;
}

.order-btn:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.fa-angle-double-right{
    padding-left: 20px;
}
.cover small{
    font-size: .9rem; 
    font-weight: bold
}

/********** categories section styling **********/

.tripple-banner{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.tripple-banner .category-box{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    /* display: inline-block; */
}
.tripple-banner .category-box .imgBox{
    position: relative;
    overflow: hidden;
}
.tripple-banner .category-box .imgBox img{
    max-width: 100%;
    transition: transform 1s;
}
.tripple-banner .category-box:hover .imgBox img{
    transform: scale(1.2);
}
.tripple-banner .category-box .details-box{
    position: absolute;
    top:10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .4);
    transform: scaleY(0);
    transition: transform .5s;

}
.tripple-banner .category-box:hover .details-box{
    transform: scaleY(1);
}
.tripple-banner .category-box .details-box .content-box{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    padding:15px;
    color: white;

}
.tripple-banner .category-box .details-box .content-box p{
    margin: 10px 0 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.content-box>button{
    border: 1px solid var(--red);
    width: 160px;
    cursor: pointer;
    height: 30px;
    background-color: var(--primaryColor);
    color: var(--red);
    outline: none;
    text-transform: uppercase;
}
.content-box>button:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.category-title{
    display: flex;
    justify-content: center; 
    align-self: center;
}
 .category-title>div{
    padding: 5px 15px;
    background: var(--red);
    color:white;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
    height: fit-content;
    margin-top: .1%;
}
.subtitle{
    opacity: .6;
}
.send_photo{
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    color: var(--red);
    text-shadow: 1px 1px var(--red);
    text-transform: uppercase;
}
#index-wrapper{
max-width: fit-content;
background-color: white;
border-radius: 5px;
margin-top: 10px;
box-shadow: 0 0rem 0rem rgba(0, 0, 0, .1);
}

/********** glide carussel section styling **********/
.glide__slides{
    text-align: center;
}
.glide__arrow--left{
    margin-left: 10%;
    color:var(--red);
}
.glide__arrow--right{
    margin-right: 10%;
    color:var(--red);
}

.glide{
    padding: 0 20px;
    margin-top: -150px;
}
.glide__slides{
    overflow: visible;
}
/********** services section styling **********/
.row_services{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 200px 30px 200px;
}
.service_container{
    display: flex;
    align-items: center;
}
.service_logo{
    padding-right: 20px;
    font-size: 30px;
    color: var(--red);
}
.service_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_text_container:hover{
    border-bottom: 3px solid var(--red);
    transition: .2s ;
}
.service_text_big{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--black2);
}
.service_text_small{
    letter-spacing: 0.5px;

}
.fa-sync-alt{
    animation: fa-spin 2s infinite linear;
}

/********** contact section styling **********/
.contact {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}
  
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.contact-form h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--black1);
}
  
.contact-form form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form1 .form2 .form3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 70px;
}
.form2 h3{
    padding-bottom: 10px;
    font-weight: bold;
    font-size:  16px;
    color: var(--black1);
}
.form2 h4{
    padding-left: 10px;
    font-weight: 70;
    font-size:  14px;
}
.form1>.form_message>input{
    width: 300px;
    height: 70px;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}
.contact-adress,.contact-phone,.contact-email,.contact-map{
   margin-bottom: 20px;
}
.contact_info{
    display: flex;
    flex-direction: row;
    color: var(--black2);
}
  
.form1 input{
    width: 300px;
    height: 30px;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
  
.form1 input:hover{
    box-shadow: 0 2px 4px 0 var(--red);
}
  
#submit {
    border: 1px solid var(--red);
    width: 160px;
    cursor: pointer;
    height: 35px;
    background-color: var(--primaryColor);
    color: var(--red); 
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
#submit:hover{
    color: var(--primaryColor);
    background-color: var(--red);
}

/********** for submit contact styling **********/
.form1 .error input{
    border-color: var(--error);
    border-radius: 4px;
}
  
.form1 .success input{
    border-color: var(--success);
    border-radius: 4px;
}
  
.form1 small{
    visibility: hidden;
}
  
.form1 .error small{
    visibility: visible;
    color: var(--error);
}
  
p.success {
    background-color: var(--success);
    width: 98%;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

/********** footer section styling **********/

#footer .footer{
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer .social-icon{
    display: flex;
}
#footer .social-item{
    height: 40px;
    width: 30px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
    width: 30px;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: var(--red);
}

/********** Products page styling **********/
.row_services-products-pg{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/********** card product banner **********/
.product-items{
    margin: 100px 100px;
    
}
.ski-products-container{
    width: 88vw;
    margin: 0, auto;
}

.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
    letter-spacing: 1px;
    margin-left: 150px;
    color: var(--black2);
}
.text-light{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0.5;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 150px;
}
/********** products section **********/
.product-single-item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.product-content{
    width: fit-content;
}
.product-img img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
}
.product-single-item:hover .product-img img{
    transform: scale(1.1);
}
.product-btn{
    text-align: center;  
    outline: none;
}
.btn-cart{
    border: 1px solid var(--red);
    width: 140px;
    cursor: pointer;
    height: 30px;
    background-color: var(--primaryColor);
    color: var(--red);
    text-transform: uppercase;
    margin-top: 10px;
    outline: none;
}

.btn-cart span{
    margin-left: 10px;
}
.details-cart{
    border: 1px solid var(--red);
    width: 240px;
    cursor: pointer;
    height: 30px;
    background-color: var(--primaryColor);
    color: var(--red);
    /* text-transform: uppercase; */
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
}
.details-cart:hover{
    background-color: var(--red);
    color: var(--primaryColor);
}
.fa-eye{
    font-size: 21px;
}

.product-info{
    width: fit-content;
    line-height: 30px;
}
.product-info-title{
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: var(--black2);
}
.product-info-stock{
    text-align: end;
    color: green;
    letter-spacing: .5px;
    font-size: 14px;
}
.product-info-price{
   text-align: center;
   font-size: 19px;
   font-weight: 500;
   color: var(--red);
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
   
}
/********** details page style  **********/
.details-card-wrapper{
   max-width: fit-content;
   margin: auto;
   margin-top: 100px;
   display: flex;
   align-items: center;
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
.details-right-section{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.image-showcase{
    padding-left: 50px;
}
.image-showcase>img{
    box-shadow: 0 .5rem 1.5rem rgba(145, 59, 59, 0.1);
}

.product-title{
    padding-top: 10px;
    color: var(--red);
    padding-bottom: 10px;
}
.fa-star,.fa-star-half-alt{
    color: #ffc107;
    padding-bottom: 10px;
}
.product-price{
    font-size: 37px;
    font-weight: bold;
    color: var(--black2);
    padding-bottom: 50px;
    
}
.product-details{
    width: 500px;
    padding-bottom: 20px;
    padding-right: 30px;
}
.product-details>h2{
    padding-bottom: 10px;
    color: grey;
    font-weight: 300;
    font-size: 22px;
}
.product-details>p{
    line-height: 1.4;
    color: var(--grey);
}
.product-details>small{
    font-size: 16px;
    line-height: 1.4;
    color: var(--grey);
}
.product-details>small>span{
    font-weight: bold;
}

.purchase-info>input{
    height: 30px;
    border: solid 1px #ccc;
    outline: none;  
}
.purchase-info>input::placeholder{
    color: var(--red);
    text-align: center;
}
.details-btn-cart{
    border: 1px solid var(--red);
    width: 345px;
    cursor: pointer;
    height: 30px;
    background-color: var(--red);
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-top: 10px; 
    margin-bottom: 10px; 
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
}

.details-btn-cart span{
    margin-left: 10px;
}
.product-stock{
    color: green;
    margin-bottom: 50px;
}
.purchase-info>select{
    width: 170px;
    height: 30px;
    border: 1px solid #ccc;
    color: var(--red);
    outline: none;
}
.purchase-info>p{
    color: var(--black2);
}

/********** admin page style  **********/
.admin-page{
    margin-top: 200px;
}
.admin-page>h1{
    text-align: center;
    color: var(--red);
    letter-spacing: 1px;
    font-weight: 550;
}
.product-manag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 600px;
}
.product-manag>h2{
    color: var(--black2);
    letter-spacing: 1px;
}
.product-manag>button{
    outline: none;
}
.all-products table {
    width: auto;
    font-size: 20px;
}
.all-products table,
.all-products table td {
    border: .5px solid var(--grey);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .1);
}
.all-products table img {
    width: 150px;
    height: 120px;
}
thead{
    line-height: 30px;
    color: white;
    background-color: var(--grey);
}
.th-name {
    width: 500px;
}
.th-price,
.th-stock {
    width: 100px;
}
.th-delete {
    width: 110px;
    color: var(--red);
}
table{
    margin: auto;
    border-collapse: collapse;
}

/* styling pentru elementele create dinamic in tebelul de ADMIN */

.p-name, .p-price, .p-stock, .p-remove{
    text-align: center;
    font-size: 19px;
    font-weight: 500;  
}
.p-name>a{
    color: var(--black1);
}
.p-remove>button{
    background-color: var(--red);
    color: white;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.p-remove>button>i{
    font-size: 22px;
}


/********************* ADD NEW PRODUCT ***********************/

.add-np{
    display: none;
    background-color: #f9f3f3;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    
}
.np-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}
.np-header>h2{
    margin-top: 10px;
    color: var(--black1);
    padding: 0 20px;
    font-weight: 550;
    letter-spacing: 1px ;
}
.np-header>button{
    margin: 10px 20px;
}
.np-header>button:focus{
    outline: none;
}
.add-nps-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.add-nps-inputs div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.add-nps-inputs div label{
    margin-right: 20px;
    color: var(--black2);
    letter-spacing: .5px;
    font-weight: 400;
}
.add-nps-inputs div input,
.add-nps-inputs div textarea{
    width: 500px;
    line-height: 20px;
}
.add-nps-inputs input:focus,
.add-nps-inputs textarea:focus{
    outline: none;
}

.add-nps-inputs textarea{
    height: 70px;
}

/********************* CART STYLING ***********************/
.nav-icon{
    font-size: 1.3rem;
    color: var(--black2);
}
.cart-btn{
    position: relative;
    cursor: pointer;
}
.cart-items{
    position: absolute;
    top: -12px;
    right: -12px;
    background: var(--red);
    padding: 0 5px;
    border-radius: 50%;
    color: white;
}
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(211, 202, 194, 0.534);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 103px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--mainWhite);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--red);
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
    color: var(--black2);
  }
  /************** Cart Item **************/
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .chevron{
      display: flex;
      align-items: flex-start;
      justify-content:  flex-start; 
  }
  .chevron>i{
      margin: 0 10px;
      margin-bottom: 10px;
  }
  .chevron>p{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.21);
    border-radius: 2px;
  }
  .cart-item h4 {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--black2);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    font-size: 20px;
    margin-bottom: 20px;

  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: white;
    cursor: pointer;
    background-color: var(--red);
    padding: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    color: var(--red);
    cursor: pointer;
  }
  /**************End of Cart Item**************/
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    
  }
  .clear-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50%;
    height: 30px;
    background-color: var(--red);
    color: var(--mainWhite);
    text-transform: uppercase;
    margin-top: 10px;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-left: 50%;
}
/* *************End of Cart**************/


/* JS related class */
.show-cart-container{
    display: block;
}
.cart-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    padding: 1.2rem 0.6rem;
    height: 140px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount>i{
    padding: 0 7px 0 7px;
    color: var(--red);
}
.amount>input{
    width: 20%;
    /* border: none; */
    text-align: center;
    outline: none;
}
.cart-item-name{
    font-size: 16px;
    letter-spacing: 1px;
    margin: 3px 3px;
    color: var(--black2);
}
.cart-item-price{
    font-size: 20px;
    font-weight: 600;
    margin:10px 2px;
    color: var(--black1);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item img{
    width: 120px;
    height: 100px;
}
.cart-item-info{
    text-align: center;
}
.cart-item-info span{
    display: block;
}
#removeBtn{
    margin-top:5px;
    letter-spacing: 1px;
    outline: none;
    padding: 3px 3px;
    background: var(--primaryColor);
    color: white;
    border: 1px solid var(--red);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    line-height: 15px;
    width: 50%;
    color: var(--red);
}
#removeBtn:hover{
    background: var(--red);
    color: var(--primaryColor);
}

.cart-total h3{
    margin-right: 0.2rem;
    font-size: 1.2rem;
}
#cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}
.purchase-with-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--red);
    width: 50%;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    background: var(--red);
    color: #fff;
    opacity: .8;
    margin-bottom: 5px;
    font-size: 17px;
    border-radius: 5px;
    margin-left: 50%;
} 

/***************** show / hide elements ******************/
.show-div-adminPage {
    display: block;
}
  
.hide-div-adminPage {
    display: none;
}
  
.show-div-adminPageFlex {
    display: flex;
}

.item-added {
    background-color: var(--success);
    text-align: center;
    font-weight: bold;
}
.error-message{
    color: red;
}



